.nav-footer {
    height: 69px;
    background-color: #b5b8bb;
}

.nav-footer_position {
    margin-top: 51px;
    margin-bottom: 22px;
}

.nav-footer__list {
    display: inline-block;
    margin: 0 22px 0 22px;
}

.nav-footer__item {
    display: inline-block;
}

.nav-footer__href {
    display: inline-block;
    padding: 23px 10px 22px 10px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
}

.nav-footer__href:hover {
    border-bottom: 1px solid #3181a6;
    padding-bottom: 3px;
    font-family: 'Myriad Pro';
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
}

.copyright, copyright__unicod {
    display: inline-block;
    padding: 23px 10px 22px 10px;
    margin-left: 160px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
}



