

.position-logo {
    margin: 61px 0 45px 0;
}

.logo__href {
    text-decoration: none;
}

.logo__text-1::first-letter {
    text-transform: uppercase;
}

.logo__text-1 {
    display: inline-block;
    text-decoration: none;
    float: left;
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
}

.logo__text-2 {
    display: inline-block;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
}

.nav-head {
    height: 69px;
    background-color:  #35444f;
}

.nav-head_position {
    margin-bottom: 51px;
}

.nav-head__list {
    display: inline-block;
    margin: 0 195px 0 195px; 
}

.nav-head__item {
    display: inline-block;
}

.nav-head__href {
    display: inline-block;
    padding: 23px 26px 22px 26px;
    border-left: solid transparent 1px;
    border-right: solid transparent 1px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.nav-head__href_mod {
    text-transform: none;
}

.nav-head__href_mod::first-letter {
    text-transform: uppercase;
}

.nav-head__href:hover {
    background-color: #222f3a;
    border-color: #818181 #818181 #818181 #818181;
}


