.menu-aside {
    width: 344px;
    border: solid #32424e 1px;
}

.menu-aside_position {
    float: left;
}


.menu-aside__href {
    display: block;
    padding: 30px;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
}

.menu-aside__href:hover {
    padding-left: 69px;
    background-color: #dcdcdc;
    color:  #000000;
}

.page-content {
    display: inline-block;
    width: 885px;
}

.page-content_position {
    float: right;
}

.image-main {
    display: inline-block;
    border: solid #32424e 1px;
}

.image-main_size {
    width: 885px;
    height: 529px;
}

.image-main__img {
    display: block;
    margin: 0 auto;
}

.image-main__img:hover {
    transition: all 1s ease-out;
    transform: scale(1.1);
}

.image-main__img_position {
    padding-top: 60px;
}

.text-content {
    padding: 50px 30px;
}

