@import url(header.css);
@import url(main.css);
@import url(footer.css);
@font-face {
    font-family: "Myriad Pro";
    src: url(../fonts/MyriadPro-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.clearfix {
    clear: both;
}


.container {
    width: 1280px;
    margin: 0 auto;
}
